*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image:url(./image/fondo.png);
}
li:not(.principal){
    display:none;
}
li{
    color:whitesmoke;
    font-family: Karla;
    font-weight: bold;
    width: 200px;
    height:100px;
    font-size:1.5em;
    display:block;
    
}
nav{
    height: 100px;
    background-color:crimson;
    
    
}
.principal{
    list-style:none;
    float:left;
    padding:2vw;
    position:relative;
}
a{
    text-decoration: none;
    color:whitesmoke;
   
}
main{
    clear:both;
    color:whitesmoke;
    text-align: center;
}

h1{
    margin-top: 20vh;
    font-size:5vw;
    font-family: Calistoga;
}
div{
    font-family: Karla;
    font-weight: bold;
    font-size:2vw;
    margin:2vw;
    
}

.principal:hover{
    display: block;
    
    background-color:#2E0404;
}
.secundario{
    
}